<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./styles/footer.css">
</head>
<body>
    <footer class="footer">
        <section class="footer_left flex">
            <p class="footer_left__title">DOWNLOAD OUR APP</p>
            <p class="footer_left__description">Download App for Android and IOS mobile phone</p>
            <img src="./images/play_store.svg" class="footer_left__images" alt="play store">
            <img src="./images/apple_store.svg" class="footer_left__images" alt="apple store">
        </section>
        <section class="footer_mid flex">
            <p class="footer_mid__branding">E - COMMERCE</p>
            <p class="footer_mid__description">High quality product is our first priority</p>
            <p class="footer_mid__copyright">Copyrights 2022 &copy; angkushsahu</p>
        </section>
        <section class="flex footer_right>
            <p class="footer_right__title">A project by - Angkush Sahu</p>
            <p class="footer_right__portfolio flex">
                Portfolio
                <a href="https://angkushsahu.netlify.app" target="_blank" rel="noopener noreferrer">
                    <img src="./images/portfolio.svg" class="footer_right__image" alt="developer's portfolio">
                </a>
            </p>
            <div class="footer_right__links">
                <a href="mailto:angkushsahu2502@gmail.com" target="_blank" rel="noopener noreferrer">
                    <img src="./images/mail.svg" alt="e-mail">
                </a>
                <a href="https://www.linkedin.com/in/angkush-sahu-0409311bb" target="_blank" rel="noopener noreferrer">
                    <img src="./images/linkedin.svg" alt="linked-in">
                </a>
                <a href="https://github.com/angkushsahu" target="_blank" rel="noopener noreferrer">
                    <img src="./images/github.svg" alt="github">
                </a>
                <a href="https://www.instagram.com/angkush_sahu" target="_blank" rel="noopener noreferrer">
                    <img src="./images/instagram.svg" alt="instagram">
                </a>
            </div>
        </section>
    </footer>
</body>
</html>