<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a template for the required e-commerce file</title>
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/nav.css">
    <link rel="stylesheet" href="./styles/body.css">
</head>
<body>
    <div class="root">
        <header class="header">
            <div class="logo">
                <h2 class="logo_header">E - store</h2>
            </div>
            <nav class="nav">
                <li>Home</li>
                <li>Products</li>
                <li>Contact</li>
                <li>About</li>
            </nav>
            <div class="user">
                <img src="./images/search.svg" alt="search"><img src="./images/bag-fill.svg" alt="your products"><img src="./images/person-badge-fill.svg" alt="your account">
            </div>
            <div class="hamburger">
                <img src="./images/list.svg" class="hamburger_open" alt="hamburger">
                <img src="./images/x.svg" class="hamburger_close" alt="hamburger">
            </div>
        </header>
        <section class="main_body">
            <p class="main_body__title">A single store for all your needs</p>
            <p class="main_body__catchy_line">Save upto 30% - 40% off on all products</p>
            <p class="main_body__dealing_line">Shop on your favorite products and get the best deals now</p>
            <button class="shop_now">Shop now</button>
            <!-- A scroll to bottom button which makes no sense at all -->
            <!-- <div class="scroll_button">
                <div></div>
            </div> -->
        </section>
    </div>
</body>
<script src="./index.js"></script>
</html>