<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/nav.css">
    <link rel="stylesheet" href="./styles/products.css">
    <link rel="stylesheet" href="./styles/card.css">
    <link rel="stylesheet" href="./styles/footer.css">
    <title>Products</title>
</head>
<body>
    <div class="root">
        <header class="header">
            <div class="logo">
                <h2 class="logo_header">Pacifio</h2>
            </div>
            <nav class="nav">
                <li>Home</li>
                <li>Products</li>
                <li>Contact</li>
                <li>About</li>
            </nav>
            <div class="user">
                <img src="./images/search.svg" alt="search">
                <img src="./images/bag-fill.svg" alt="your products">
                <img src="./images/person-badge-fill.svg" alt="your account">
            </div>
            <div class="hamburger">
                <img src="./images/list.svg" class="hamburger_open" alt="hamburger">
                <img src="./images/x.svg" class="hamburger_close" alt="hamburger">
            </div>
        </header>

        <div class="products">
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <!-- <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section>
            <section class="card">
                <img src="./images/product_one.jpg" alt="product" class="card_image">
                <p class="card_title">Lorem, ipsum</p>
                <div class="ratings">
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                    <p>(24 ratings)</p>
                </div>
                <p class="price">&#8377; 500</p>
            </section> -->
        </div>

        <footer class="footer">
            <section class="footer_left flex">
                <p class="footer_left__title">DOWNLOAD OUR APP</p>
                <p class="footer_left__description">Download App for Android and IOS mobile phone</p>
                <img src="./images/play_store.svg" class="footer_left__images" alt="play store">
                <img src="./images/apple_store.svg" class="footer_left__images" alt="apple store">
            </section>
            <section class="footer_mid flex">
                <p class="footer_mid__branding">PACIFIO</p>
                <p class="footer_mid__description">High quality product is our first priority</p>
                <p class="footer_mid__copyright">Copyrights 2022 &copy; angkushsahu</p>
            </section>
            <section class="flex footer_right>
                <p class="footer_right__title">A project by - Angkush Sahu</p>
                <p class="footer_right__portfolio flex">
                    Portfolio
                    <a href="https://angkushsahu.netlify.app" target="_blank" rel="noopener noreferrer">
                        <img src="./images/portfolio.svg" class="footer_right__image" alt="developer's portfolio">
                    </a>
                </p>
                <div class="footer_right__links">
                    <a href="mailto:angkushsahu2502@gmail.com" target="_blank" rel="noopener noreferrer">
                        <img src="./images/mail.svg" alt="e-mail">
                    </a>
                    <a href="https://www.linkedin.com/in/angkush-sahu-0409311bb" target="_blank" rel="noopener noreferrer">
                        <img src="./images/linkedin.svg" alt="linked-in">
                    </a>
                    <a href="https://github.com/angkushsahu" target="_blank" rel="noopener noreferrer">
                        <img src="./images/github.svg" alt="github">
                    </a>
                    <a href="https://www.instagram.com/angkush_sahu" target="_blank" rel="noopener noreferrer">
                        <img src="./images/instagram.svg" alt="instagram">
                    </a>
                </div>
            </section>
        </footer>
    </div>
</body>
</html>