.loading {
    height: 90vh;
    margin-top: 10vh;
    background-color: #fff;
    display: grid;
    place-items: center;
    max-width: 100%;

    div {
        width: 10vmax;
        height: 10vmax;
        border-bottom: 5px solid #6e6e6e;
        border-radius: 50%;
        animation: loadingRoute 800ms infinite linear;
    }
}

@keyframes loadingRoute {
    to { transform: rotateZ(-360deg); }
}