.products_container {
    margin-top: 10vh;
    display: flex;

    .products {
        min-height: 90vh;
        max-width: 70vw;
        margin: 0 auto;
        padding: 2em 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, clamp(18.75em, 22vw, 20em));
        grid-gap: 3em;
        justify-content: center;
    }

    .filterBox {
        padding: 2em;

        &_price, &_categories, &_ratings {
            font-size: 1.65rem !important;
        }

        .categories, .ratings {
            margin: 1em 0;
        }

        .ratings {
            border: 1px solid #00000069;
        }

        .ratings { padding: 0.3em 1em; }

        .categoryBox {
            padding: 0;

            .category-link {
                list-style: none;
                cursor: pointer;
                color: rgba($color: #000000, $alpha: 0.61);
                transition: 0.2s;

                &:hover {
                    color: tomato;
                }
            }
        }
    }



    @media screen and (max-width: 34.375em) {
        flex-direction: column;

        .filterBox {
            order: 1;
        }
    }
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 3.5em;

    .pagination {
        display: flex;
        justify-content: center;
        padding: 0;

        .page-item {
            background-color: #fff;
            list-style: none;
            border: 1px solid rgba(0, 0, 0, 0.178);
            padding: 1em 1.5em;
            transition: 0.3s;
            cursor: pointer;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:hover {
                background-color: rgb(230, 230, 230);

                .page-link {
                    color: rgb(80, 80, 80);
                }
            }
        }

        .page-link {
            text-decoration: none;
            color: rgb(80, 80, 80);
            transition: background-color 0.2s;
        }

        .pageItemActive {
            background-color: tomato;
        }

        .pageLinkActive {
            color: #fff;
        }
    }
}